.header {
  display: flex;
  justify-content: space-between; /* Para poner el logo/texto en el centro y el menú a la derecha */
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #003366;
  color: white;
}

.menu-header-btn {
  background-color: #668cb1;
  border: none;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.logo-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Para centrar el logo y el texto */
}

.logo-text-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
}

.menu-overlay {
  position: fixed; /* Fijo para que cubra toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro con transparencia */
  color: white;
  z-index: 1000; /* Para asegurarnos de que esté encima de todo */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-option {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el ícono y el texto */
  padding: 20px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.menu-option:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

.assistance-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.consultas-form {
  background-color: #4d7298;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.consultas-form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.consultas-form select {
  margin-bottom: 20px;
  padding: 5px;
}

.consultar-btn {
  padding: 10px;
  background-color: #002f87;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.capacitaciones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.capacitacion-option {
  position: relative;
  margin-bottom: 20px;
}

.capacitacion-img {
  width: 300px; /* Ajusta según el tamaño necesario */
  height: auto;
  border-radius: 10px;
}

.capacitacion-text {
  position: absolute;
  bottom: 20px;
  left: 30%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.login-container {
  text-align: center;
  padding: 0px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
  justify-content: center;
  width: 75%;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #1b456b;
  color: #e6e6e6;
  border: none;
  border-radius: 5px;
}

.login-btn {
  background-color: #003366;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-links {
  margin-top: 20px;
  width: 100%;
}

.forgot-password-btn,
.register-btn {
  background-color: #1b456b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
  text-align: center;
}

.forgot-password-btn:hover,
.register-btn:hover {
  background-color: #003366;
}

.sjm-btn {
  margin-top: 20px;
  background-color: #8ac1da;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}


/* Estructura de la pantalla principal */
.header {
  display: flex;
  justify-content: space-between; /* Para poner el logo/texto en el centro y el menú a la derecha */
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #003366;
  color: white;
}

.logo-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Para centrar el logo y el texto */
}

.logo-text-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
}

.menu-content {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.menu-option {
  display: block;
  padding: 10px;
  width: 100%;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
}

.menu-option:hover {
  background-color: #f0f0f0;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #003366;
  color: white;

}

.logo {
  height: 40px;
  margin-right: 10px;
}

.logo-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  padding: 20px;
  max-width: 400px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.grid-item p {
  margin-top: 10px;
  font-weight: bold;
}

.grid-item a {
  text-decoration: none;
  color: black;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #003366;
  color: white;
  width: 100%;
  padding: 10px;
  z-index: 1000;
}

.whatsapp-icon {
  color: #25d366;
  margin-left: 10px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  padding: 10px;
}

.option-btn {
  background-color: #4d7c9b;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.option-btn:hover {
  background-color: #365a6d;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}